@using AssetManagement.Client.Pages.AppPages.Company;
@using AssetManagement.Dto.Models;
@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@implements ICustomGridComponent<Company>
@inject NavigationManager NavigationManager

<button class='btn btn-sm btn-warning' style="border-radius:15px" @onclick="MyClickHandler" title="Edit"><i class="fa fa-pencil-square-o"></i></button>

@code {
    [Parameter]
    public Company Item { get; set; }

    [Parameter]
    public CGrid<Company> Grid { get; set; }

    private void MyClickHandler(MouseEventArgs e)
    {
        NavigationManager.NavigateTo($"/company-config/{Item.Id}");
    }
}