@page "/newOnboarding"

@using AssetManagement.Client.Client;
@using AssetManagement.Client.Pages.GridComponent
@using AssetManagement.Client.Shared.Popup
@using AssetManagement.Dto.Models;
@using System.Globalization;
@inject AppClient client
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="card">
    <div class="card-header" style="padding: 8px !important; display: flex; align-items: center;">
        <MudButton Href="employees"
                   Variant="Variant.Outlined"
                   StartIcon="@Icons.Material.Filled.ArrowBack"
                   Color="Color.Tertiary"
                   Size="Size.Small"
                   Disabled=false>
            Back
        </MudButton>
        <div style="margin-left: auto;">
            <ol class="breadcrumb" style="display: flex; justify-content: flex-end; align-items: center; list-style: none; padding: 0; margin: 0;">
                <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="breadcrumb-item"><a href="/employees">Employees</a></li>
                <li class="breadcrumb-item active">Onboarding</li>
            </ol>
        </div>
    </div>

    <div class="card-body">
        <EmployeeOnboardingGrid />
    </div>
</div>