@page "/test"
@using AssetManagement.Client.Client;
@using AssetManagement.Client.Helpers;
@using AssetManagement.Client.Shared.ChartJs
@using AssetManagement.Dto.Dashboard;
@using AssetManagement.Dto.Models;
@using System.ComponentModel.DataAnnotations;
@inject AppClient client
@attribute [Authorize]

<EditForm Model="model" OnValidSubmit="@OnValidSubmit">
    <ValidationSummary />
    <DataAnnotationsValidator />
    <div class="card p-2">
        <div class="form-group row">
            <label class="col-form-label col-md-1 bold-font required-field">Email</label>
            <div class="col-md-9 mb-1">
                <InputText id="ExternalEmailId" @bind-Value="model.EmailId" class="form-control" />
                <ValidationMessage For="() => model.EmailId" />
            </div>
            <div class="col-md-2" style="text-align:left">
                <button type="submit" class="btn btn-primary">Send Form</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    Employee model = new();
    protected async Task OnValidSubmit()
    {
       
        //var responce = await client.UpsertEmployeeOnboarding(model);
    }
}